<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MQTTProtocol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DF7CF881F4D460E00805B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DF7CFA11F4D460E00805B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DF7CFAC1F4D460E00805B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
